<!-- file: views/selection.erb -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
        Title: <%= @title1 %> <br>
        Released: <%= @year1 %>
    </div>
    <br><br>
     <div>
        Title: <%= @title2 %> <br>
        Released: <%= @year2 %>
    </div>
        <br><br>
     <div>
        Title: <%= @title3 %> <br>
        Released: <%= @year3 %>
    </div>
    <br><br>
     <div>
        Title: <%= @title4 %> <br>
        Released: <%= @year4 %>
    </div>
    <br><br>
     <div>
        Title: <%= @title5 %> <br>
        Released: <%= @year5 %>
    </div>
    <br><br>
     <div>
        Title: <%= @title6 %> <br>
        Released: <%= @year6 %>
    </div>


  </body>
</html>